@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GrinchedRegular";
  src: url("../public/GrinchedRegular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
